$hero-orange: #ff7143;
$main-black: #000000;
$main-white: #ffffff;

$accent-orange: #FF7143;
$accent-white: rgba(241, 241, 241, 0.81);
$accent-black: rgba(44, 44, 44, 0.90);

$cubic-anime: 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;


.header {
  color: $main-white;
  background-color: $main-black;
  @media screen and (min-width: 1280px) {
    padding: 22px 0;
  }
}

.menu-button {
  //display: inline-flex;
  position: absolute;
  right: 17px;
  top: 16px;
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 1280px) {
    display: none;

  }
}


.menu-button__svg {
  width: 20px;
  height: 13px;

}

.menu-button__cross {
  display: none;
}

.menu-button.is-open .menu-button__cross {
  display: block;
}

.menu-button.is-open .menu-button__burger {
  display: none;
}

.main-nav {
  display: flex;
}

.main-nav__list {
  display: none;
  flex-wrap: wrap;
  gap: 24px;
  background-color: $main-black;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    gap: normal;


  }
}

.main-nav__list.is-open {
  display: flex;
}

.main-nav__list li:nth-child(1) {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.12);
  margin-right: 63px;
  transition: background-color $cubic-anime;

  &:hover,
  &:focus {
    background-color: #404040;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 65px;
    margin-right: 428px;
  }
}

.main-nav__list li:nth-child(3) {
  @media screen and (min-width: 1280px) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.main-nav__list li:nth-child(5) {
  @media screen and (min-width: 1280px) {
    margin-left: 65px;
  }
}

.main-nav__link {
  line-height: 24px; /* 150% */
  transition: color $cubic-anime;

  &:hover,
  &:focus {
    color: $accent-orange;
  }

  &--hover:hover,
  &--hover:focus{
    color: $main-white;
  }

  &--padding {
    padding: 4px 8px;
  }
}

.main-nav__button {
  padding: 12px 32px;
  margin-bottom: 16px;

  color: $main-black;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */

  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: $hero-orange;
  transition: background-color $cubic-anime;

  &:focus,
  &:hover {
    background-color: #F5996B;

  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;

  }
}